<div class="edit-account-container">
  <div class="full-edit-conatiner">


    <div id="special_business_nav">

    <a href="/" ><div class="header-logo"></div></a>

    <div class="header-info">

      <% if business_signed_in? %>

        

        <%= link_to edit_business_registration_path, class: "biz-nav-text biz-nav-left" do %>
          Logged in as  <span class="logged-in-name"><strong><%= current_business.name %></strong></span>
          <% end %>
        
        
        <%= link_to "My Deals", business_deals_path(current_business), class: "biz-nav-text  nav-biz-mid header-hover"%>
        
        <%= link_to "Logout", destroy_business_session_path, class: "biz-nav-text last-in-list header-hover", method: :delete %>

      
      <% else %>
        <%= link_to "Sign up", new_business_registration_path, class: "biz-nav-text" %> 
        <%= link_to "Login", new_business_session_path, class: "biz-nav-text nav-biz-mid" %>
        <%= link_to "Sign in with Twitter", business_omniauth_authorize_path(:twitter), class: "biz-nav-text nav-biz-mid"   %>
        <%= link_to "Sign in with Facebook", business_omniauth_authorize_path(:facebook), class: "biz-nav-text last-in-list"  %>
      <% end %>
    </div>

  </div>
    






    <div class="right-side-account-leave">
      <div class="cancel-container">

        <div class="cancel-account">

          <h2>Unhappy in this relationship?</h2>
          <p>cancel your account</p>
          <ul class="cancel-options">
            <li> <%= button_to "Forget about Me",  registration_path(resource_name), class: "cancel-btn first", data: { confirm: "Are you sure? Can we just talk about it first?" }, method: :delete %></li>
            <li><%= link_to "Take me Back!",  :back %></li>
          </ul>
        </div>
      </div>
    </div>



   <div class="edit-account">
      
      <div class="left-side-account-edit">
        <h2>Edit your Account</h2>

        <div class="edit-account-form">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            
            <%= devise_error_messages! %>

            <div><%= f.label :email, "Email" %><br />
            <%= f.email_field :email, class: "edit-account-field", autofocus: true %></div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div><%= f.label :name, "Business Name" %><br />
            <%= f.text_field :name,  class: "edit-account-field"%></div>

            <div><%= f.label :address, "Business Address" %><br />
            <%= f.text_area :address,  class: "edit-account-field address-field" %></div>

            <div><%= f.label :phone %><br />
            <%= f.text_field :phone, class: "edit-account-field" %></div>


            <div><%= f.label :password, "New Password" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "edit-account-field" %></div>

            <div><%= f.label :password_confirmation, "New Password Confirmation" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "edit-account-field" %></div>

            <% if f.object.encrypted_password.present? %>
              <div><%= f.label :current_password %><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "edit-account-field" %></div>
            <% end %>

            <div class="update-account-btn pulse"><%= f.submit "", class: "no-style" %></div>
          <% end %>
        </div>
      </div>
    </div> 
  </div>

</div>