<div class="sign-up-login-container">

	<div class="sign-up-login-logo"></div>
	<div class="forgotten-password">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true, class: "forgotten-field", placeholder: "awesome@business.com", autofocus: true %></div>

		  <div class="forgotten-btn pulse"><%= f.submit "", class: "no-style" %></div>
		<% end %>
	</div>

</div>