<div class="business-profile-container">

		<div class="business-profile-right-pane">

			<div class="biz-deals">
				<h1 class="biz-name-deals-header"><%=current_business.name %>'s Deals </h1>

				<div class="business-deals-container">
					
						<% @deals.each do |deal| %>
							<div class="listed-deal outline-inward" style="<%=deal_background_image(deal) %>">
								<h3><%= deal.title %></h3>
								<p><%= deal.description %></p>
								<p>Live until: <%= deal.finish_time.strftime("%A %I:%M %P") %> </p>
							</div>
						<%end%>
					
				</div>
			</div>
		</div>


	<div class="profile-new-deals-container">

		<div class="profile-deal-maker">

			<div class="new-deal-form-container">
				<h2>Start a new Deal</h2>

				<%= form_for @deal, :html => {:multipart => true} do |f| %>

					<%= f.hidden_field :business_id, value: current_business.id %>

					<%= f.label :title, "Give your deal a title" %>
					<%= f.text_field :title, autofocus: true, placeholder: "Half Price Sushi", class: "new-deal-field" %>

					<%= f.label :description, "Tell us a little more about your deal" %>
					<%= f.text_area :description, placeholder: "Come into to get super cheap Sushi. Includes everything in the counter.", class: "new-deal-field  address-field"%>

					<%= f.label :address, "Where can we find this deal?" %>
					<%= f.text_field :address, placeholder: "13 Awesome Street, Wellington, NZ", class: "new-deal-field"%>

					<%= f.label :category_id, "Which sounds like this deal?" %>
					<%= f.collection_select :category_id, Category.all, :id, :name, class: "new-deal-field float-form"%>

					<%= f.label :start_time, "When does your deal go live?", class: "live-deal-field" %>
					<%= f.datetime_select :start_time, :order => [:year, :month, :day, :hour, :minute],  ampm: true, :minute_step => 5, class: "new-deal-field live-deal-field" %>

					<%= f.label :finish_time, "When does your deal end?" %>
					<%= f.datetime_select :finish_time, :order => [:year, :month, :day, :hour, :minute], :minute_step => 5,  ampm: true, :default => 2.hours.from_now, class: "new-deal-field"%>

					<%= f.label :deal_image, "Upload a deal image" %>
					<%= f.file_field :deal_image, class: "new-deal-field" %>

					<div class="launch-deal-btn"><%= f.submit "", class: "no-style" %></div>
				<%end%>
			</div>
		</end>
	</div>


</div>