

<div class="index-container">
  <div class= "full-show-container">

  <div class="categories-full-right-pane">
    
    <div class="categories-right-pane-cat-list">
      <ul class="categories-list">
            <li>All Categories</li>
          <% @categories.each do |category| %>
            <li class="cat-block"><%= category.name %></li>
          <% end %>
      </ul>
    </div>

    <div class="stripe">
      <div class="line"></div>
    </div>

    <div class="categories-right-pane-header">
        <h1>Deals around you in: <%= @category.name %></h1>
    </div>

    <div class="stripe">
      <div class="line line-btm"></div>
    </div>
      
      <div class="deal-display-container">
        <% @deals.each do |deal| %>
          <div class="deal-display-element">
            <h2><%= deal.title %></h2>
            <h4><%= deal.description %></h4>
            <h4><%= deal.finish_time %></h4>
          </div>
        <% end %>

      </div>
    </div>
    

    <div class="map-canvas-container">

      <ul class="map-view-navbar">
      g  <li><h2><%= @category.name %></h2></li>
        <li><img src="/assets/radius.png" id="radius"></li>
      </ul>
      
      <div id="map-canvas"></div>
      <div id="nav_bottom"></div>
    
    </div>
  </div>
</div>

<script type="text/javascript">
var categoryId = <%= @category.id %>;
$(document).ready(function() {
  getCoords();
 
});
</script>
